
body{
    background-color: #708090;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    font-size: 3vh;
  }

  h1{
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    font-size: 7vh;
    margin-bottom: 1vh; 
  }

.accueil{
    display: flex;
    justify-content: center;
    align-items: center;
}

#idbouton {
    width: 17vh;
    height: 10vh;
    border-radius: 2vh;
    font-weight: bold;
    font-size: 3vh;
    font-family: sans-serif;
    color : #708090;
    margin-top: 2vh;
    border : .5rem solid #d3d3d3; 
    margin-right : 2vh; 
}
  